.advanced-todos {
  padding: 32px;

  @media only screen and (max-width: 768px) {
    padding: 20px;
  }
}

.todos-board {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 30px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
