.todo-item-card {
    border-radius: 4px;
    border: 1px solid #17044a;
    background: #33146E;
    padding: 10px;
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.3);

    -webkit-user-select: none; /* Safari and iOS Safari */
    user-select: none;         /* Modern browsers (Chrome, Firefox, Edge, Opera) */

    cursor: grab;
}

.todo-item-card::hover {
    cursor: move;
}

.todo-item-card--name {
    margin-top: 0;
    font-weight: bold;
    font-size: 14px;
}

.todo-item-card--date {
    font-size: 12px;
    color: darkgrey;
}
