#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 100vh;
}

.todo-card {
  height: 250px;
  background-color: #794ae8;
  padding: 1.5rem;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.3);
}

.strikethrough {
    text-decoration: line-through;
}
